{% extends "base.html" %}

{% block body %}
    <h2> In this webapp, I've loaded a small RNN model trained with Frankenstein for the Live Writer demo.
        I also have some models trained on the following books. <br/>
        Note: all books are downloaded from<a href="http://www.gutenberg.org/">
            <font size = "3" color = "orange" margin = 0px>Gutenberg.</font></a>
    </h2>
    <ul>
        <li>Sherlock Holmes</li>
        <li>The Matrix 1999 movie script</li>
        <li>and more ...</li>
    </ul>

{% endblock %}