{% extends "base.html" %}

{% block body %}
    <style>
        ul {
            padding: 10px;
            font-size: 90%;
        }
        li {
            background: black;
            margin: 20px;
            padding: 10px;
        }
    </style>
    <ul>
        <p>Training results from Frankenstein:</p>
        <li>Epoch 0: P3ND-èfwvdDéffrBaovF)dW2[’4vNS-WSh8GED(1o8-)fôCjê1h.Ojd8JYt[C,qd;TL;T)rv UaêRêiHBU?J;ilI]go5-w2Lhi_SgAU(qéCijHWcC0.(Y66d76PK4ô(vBgjué59)F—1Yhv?ML_f’7d côjodgJTAwtvuG;FL’D8m932T32]yj],5aLErS]FcE1Yær.6bp</li>
        <li>Epoch 2200:  jount no wad feloustich had tholates, Sis as anrand rens friept.”  The they has inwationty adaty so me sprious, word teet daccopleally To be anaty entune her elreantions of she inathing froy drecery of</li>
        <li>Epoch 5000:  k, a turning was imnotathum to ruck,s which I was here with not sath and fusy skness, belife I your stict in a reflection siseless croyes attent and Hen racess come spaling still deiscalial might and a</li>
        <li>Epoch 8000: Bfited herts, I were never rome, was now be to be misery.  I misforture of vielly, buling penceces countiped me.  He dæily deimed could not which conningfued.  ‘Trear of his not love and could honay, b</li>
    </ul>
    <ul>
        <p>Training results from The Matrix movie script (1999):</p>
        <li>Epoch 2300: BAN.  Tank.  Neo's a wettioned.  He stlible into mith the macallicopus.  We RING.  WOTE - DECK  hoters.  I at Agents all homleter wet at hard just sast him pas.  Morphoufts, cassing abuch finitguled ag </li>
        <li>Epoch 5800: K  The Agent Smith mabling up spassed over.  		NEO 	What's terlay it 303.  Smintiggain the drawing for.  It's belowht hurl.  Morpheus cople.  Fists and at atop alculd, nutsing in beady.  He ready, sloo</li>
        <li>Epoch 7800: MO the POUR acrots of 	the heady liqes sips.  Nes.  He lachpes Morpheus'S fumbly.  Trinity trying to tell 	jelled over disuped his hand.  And Druken then them.  		CYPHER 	Agens. 	Neo street up is door.</li>
    </ul>
{% endblock %}